.container-white {
    background-color: white;

}

.shop__wrapper {
    width : 100%;
    justify-content: center;
}

.textnew {
    text-align: center;
    margin    : 100px 0;
}

.textnew h2 {
    font-size: 2.5rem;
    color    : var(--primary-color);
}

.textnew p {
    font-size  : 1.5rem;
    font-weight: 300;
}

.filter__title {
    font-size: 2.5rem;
    padding  : 25px 0;
    display  : block;
}

.filter__btn-collection,
.filter__btn-price {
    width          : 100%;
    background     : none;
    border         : none;
    justify-content: space-between;
    display        : flex;
    padding        : 0;
    margin         : 20px 0;
}

.filter__btn-title {
    font-size  : 1.6rem;
    font-weight: 400;
}

.filter__btn--icon-full,
.filter__btn--icon-expan {
    display: none;
}

.icon-active {
    display: block;
}

ul.filter__list {
    list-style: none;
    padding   : 0;
    font-size : 1.3rem;
    color     : #7d7d7d;
    /* text-align: center; */
}


li.filter__list-item>button {
    background: 0;
    border    : none;
}


li.filter__list-item--active>button {
    background-color: var(--primary-color);
    color           : white;
    width           : 100%;
}




.product__classify {
    width     : 100%;
    text-align: end;
    margin    : 25px 0;
}

.classify {
    width    : 25%;
    height   : 35px;
    font-size: 1.4rem;
}

.pagination-nav {
    display        : flex;
    justify-content: center;
}

button.previous,
button.next {
    display        : block;
    text-decoration: none;
    width          : 30px;
    background: none;
    border: none;
}

.page-strip {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    align-items: baseline;

}

.page-strip ul {
    display   : flex;
    list-style: none;
    padding   : 0;
    margin    :0;
}

.page-strip ul li>button.page-active {
    background: var(--primary-color);
    text-align: center;
    color     : white;
    
}

.page-strip ul li {
    width: 42px;
}

.page-strip ul li button {
    text-decoration: none;
    width          : 100%;
    font-size      : 1.5rem;
    padding        : 0 15px;
    display        : block;
    color          : black;
    cursor         : pointer;
    background: none;
    border: none;

}


/* product mini  */

.product__list-item--mini {
    min-width: 100px !important;
}



